:root{    
--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.logo{
    margin-bottom: 40px;
}
h1{
    color: var(--Gray);
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
}
h1>span{
    font-weight: 700;
    color: var(--Very-Dark-Blue);
}
p{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--Very-Dark-Blue);
}
.form{
    display: flex;
    width: 100%;
}
input{
    width: 350px;
    height: 40px;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid var(--Gray);
    margin-right: 20px;
    color: var(--Gray);
}
button{
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: var(--Blue);
    border: none;
}
button:hover{
    opacity: .7;
    cursor: pointer;
}
.imageContainer{
    width: 30%;
    margin-top: 50px;
}
.imageContainer>img{
    width: 100%;
}
#error{
    font-weight: 300;
    margin: 5px 0 0 20px;
    color: var(--Light-Red);
    font-size: 12px;
    display: none;
    text-align: start;
}
.error{
    border-color: var(--Light-Red);
}


@media screen and (max-width: 500px) {
    .content{
        width: 100%;
    }
    .form{
        flex-direction: column;
        row-gap: 10px;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
    input , button {
        width: 100%;
    }
    .imageContainer{
        width: 100%;
    }
    #error{
        text-align: center;
        font-size: 17px;
    }
}